/*-------------------
-----core stuff------
-------------------*/
* {
	padding: 0;
	margin: 0;
	outline: none;
}
*:focus {
	outline: none;
}

/*-------------------
-----design stuff----
-------------------*/
.wrapper {
	width: 1500px;
	margin: 0 auto !important;
}

/*-------------------
-----table stuff-----
-------------------*/
.fields {
	border-collapse: collapse;
	font-family: verdana;
	width: 615px; /*615 */
}
.fields tr, .fields td {
	padding: 3px 7px 2px 7px;
}
.results {
	border-collapse: collapse;
	font-family: verdana;
	width: 465px;
}
.results tr, .results td {
	padding: 3px 7px 2px 7px;
}

/* might use this later on */
.schema {
	border-collapse: collapse;
	font-family: verdana;
	width: 465px;
}
.schema tr, .schema td {
	padding: 3px 7px 2px 7px;
}

/*------------------
-----theme core-----
------------------*/
body {
	background-image: url(background.png);
	background-repeat: repeat-y;
	background-position: top center;
	color: #B297D4;
}
a {
	color: #B297D4;
	text-decoration: none;
}
a:hover {
	color: #3F1A6E;
	background-color: #B297D4;
	border-radius: 2px;
}
h1 {
	padding-bottom: 5px;
}

/*-------------------
-----design stuff----
-------------------*/
.boxWrapper {
	width: 1500px;
	height: auto;
	min-height: 100px;
	border: 1px dashed #B297D4;
	background-color: #3F1A6E;
	font-family: verdana;
	padding: 10px;
	border-radius: 5px;
	margin-bottom: 10px;
}
.boxTitle {
	width: 1477px;
	height: 20px;
	background-color: #B297D4;
	font-family: verdana;
	padding: 10px;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	font-weight: bold;
	margin: auto;
	margin-bottom: 5px;
	color: #3F1A6E;
}
.boxFooter {
	width: 1500px;
	height: auto;
	min-height: 15px;
	border: 1px dashed #B297D4;
	background-color: #3F1A6E;
	padding: 10px;
	border-radius: 5px;
}
.footerText {
	color: #B297D4;
	font-size: 12px;
	font-family: verdana;
}
input[type='button'] {
	background-color: #B297D4;
	width: auto;
	min-width: 70px;
	color: #3F1A6E;
	height: 25px;
	border: none;
	border-radius: 5px;
	margin: 3px 7px 2px 7px;
	font-weight: bold;
	font-family: verdana;
	transition-duration: 0.5s;
	cursor: pointer;
}
input[type='button']:hover, input[type='button']:focus {
	background-color: #fff;
	color: #B297D4;
}

/*-------------------
-----input stuff-----
-------------------*/
input[type='text'] {
	background-color: #B297D4;
	color: #3F1A6E;
	border: 0;
	height: 20px;
	border-radius: 3px;
	width: 170px;
	text-indent: 2px;
}
select {
	height: 20px;
	width: 170px;
	background-color: #B297D4;
	color: #3F1A6E;
	border: 0;
	border-radius: 3px;
}

/*------------
-----hints----
------------*/
#tipDiv {
	font-size: 12px;
    color: #B297D4;
    font-family: verdana;
    background-color: #3F1A6E; 
    border: 1px solid #B297D4;
    padding: 4px;
    width:200px;
}